* {
    margin: 0;
    padding: 0;

}

/* background {
    background: url(../img/universum.png);
    background-size: contain;
    display: block;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  } */

@import url(https://fonts.googleapis.com/css2?family=Caveat&display=swap);

@font-face {
    font-family: family_new;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
    /* background: url(../img/kosmicheskij-vid-s-sozvezdiyami-i-tumannostyami.png); */
    /* background-image: url(../img/kosmicheskij-vid-s-sozvezdiyami-i-tumannostyami.png); */
    
    background-size: auto;
    
    background-color: rgba(182, 255, 242, 0);
    font-family: PressStart2P-Regular, sans-serif;
    color: rgb(65, 11, 99);
    padding: 50px 20px 20px 20px;
}

.background-image {
    opacity: 1;
}


.header {
    padding: 0px 0px 0px 0px;
}

.special_container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .special_container {
    display: flex;
    align-items: center;
} 

.logo img {


}



.main_title_header, .big_title {
    font-family: family_new;
    font-size: 16px;
}

.menu {
    margin-left: 150px;
    display: flex;
    list-style: none;
}

.menu_item {
    margin-right: 50px;
}

.menu_item a {
    font-size: 14px;
    color:rgb(44, 1, 44);
    text-decoration: none;
    cursor: pointer;
}

.menu_item a:hover{
    border-bottom: 2px solid white;
}



.footer {
    padding: 20px 0;
}

.footer .special_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.footer .up_link {
    font-size: 14px;
    line-height: 20px;
}
/* конец блока footer */

.main_content .spec_container .card {
    color: #000;
    margin: 20;
    padding: 10;
    margin-bottom: 100;

}

.btn {
    padding: auto; /* Поля по вертикали и горизонтали */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(113, 5, 68); /* Прозрачный цвет фона */
    font-size: 0.9em; /* Размер текста */
    text-transform: uppercase; /* Все буквы заглавные */
    color: #ffffff; /* Цвет текста */
    border: 2px solid #2196f3; /* Параметры рамки */
    border-radius: 0.4em; /* Радиус скругления */
}

.btn a {
    padding: auto; /* Поля по вертикали и горизонтали */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(113, 5, 68); /* Прозрачный цвет фона */
    font-size: 0.9em; /* Размер текста */
    text-transform: uppercase; /* Все буквы заглавные */
    color: #ffffff; /* Цвет текста */
    border: 2px solid #2196f3; /* Параметры рамки */
    border-radius: 0.4em; /* Радиус скругления */
}